<div class="w-3/6 self-center mt-8" >
  <% unless @flights.nil? || !@flights.any? %>
    <%= form_with model: @booking, url: new_booking_path, method: :get do |form| %>
      <ul class="flex flex-col gap-4">
        <% @flights.each do |flight| %>
        <%= form.fields_for :passengers do |passengers_form| %>
            <% passengers_form.hidden_field :passengers_num, value: params[:flight][:passengers_num] %>
        <% end %>
          <li class="p-4 bg-gray-50 flex justify-around">
            <div><%= form.radio_button(:flight, flight.id, required: true) %></div>
            <div>From: <%= flight.departure_airport.code %></div>
            <div>To: <%= flight.arrival_airport.code %></div>
            <div>At: <%= flight.start_time.strftime("%H:%M") %></div>
          </li>
        <% end %>
      </ul>
      <%= form.submit 'Book the Tickets', class: "btn-main-grad" %>
      <% end %>
  <% end %>
</div>
